@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f2f2f2;
}

body textarea {
  resize: none;
}

.container {
  width: 100%;
}

.container__addCard {
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 20px;
}

.container__addCard img {
  width: 30px;
  cursor: pointer;
}

.container__subContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: white;
}

.container__subContainerAdd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: white;
}

.container__photoDeveloper {
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__photoDeveloper--photo {
  width: 200px;
  position: absolute;
  border-radius: 20px;
}

.container__photoDeveloper--background {
  position: absolute;
  width: 300px;
}

.container__slider {
  width: 80px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: absolute;
  top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container__slider--left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__slider--right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__infoDeveloper {
  width: 100%;
  height: 250px;
  margin: auto;
  text-align: center;
  position: relative;
}

.container__infoDeveloper--background {
  width: 50px;
  margin: auto;
  position: absolute;
  left: 130px;
  top: -20px;
}

.container__infoDeveloper--biographyDeveloper {
  font-size: 18px;
  font-weight: 300;
  color: #202046;
}

.container__infoDeveloper--nameDeveloper {
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  color: #202046;
}

.container__infoDeveloper--nameDeveloper span {
  color: #babacf;
}

.container__infoDeveloperContainerText {
  margin-top: 30px;
}

.container__infoDeveloperContainerText label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  font-size: 12px;
  padding: 10px;
}

.container__infoDeveloperContainerText label textarea {
  border: solid 1px #babacf;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px 10px 0px 10px;
}

.container__infoDeveloperContainerText--subContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__infoDeveloperContainerText--buttonCreate {
  background-image: -webkit-gradient(linear, left top, right top, from(#DA22FF), color-stop(51%, #9733EE), to(#DA22FF));
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.container__infoDeveloperContainerText--buttonCreate:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.container__infoDeveloperContainerText--inputsCreate label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  font-size: 12px;
  padding: 10px;
}

.container__infoDeveloperContainerText--inputsCreate label input {
  width: 160px;
  border: solid 1px #babacf;
  border-radius: 4px;
  padding: 2px 5px 2px 10px;
}

.container__backgroundFooter {
  width: 300px;
  margin: auto;
  position: absolute;
  bottom: -4px;
}

.container__backgroundFooter img {
  width: 170px;
}

@media screen and (min-width: 500px) {
  .container__infoDeveloper {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .container__slider {
    top: 375px;
  }
  .container__photoDeveloper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 400px;
    height: 500px;
  }
  .container__photoDeveloper--photo {
    width: 300px;
  }
  .container__photoDeveloper--background {
    width: 400px;
  }
  .container__infoDeveloper {
    margin: 0;
    height: auto;
    text-align: end;
    margin-right: 20px;
  }
  .container__infoDeveloper--biographyDeveloper {
    font-size: 20px;
  }
  .container__infoDeveloper--background {
    left: 180px;
  }
  .container__infoDeveloperContainerText {
    position: relative;
    /* left: 100px; */
  }
  .container__subContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 950px;
    min-width: 800px;
    height: 500px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 0px #0000001c;
            box-shadow: 4px 4px 0px #0000001c;
    border-radius: 10px;
  }
  .container__subContainerAdd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 950px;
    min-width: 800px;
    height: 500px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 0px #0000001c;
            box-shadow: 4px 4px 0px #0000001c;
    border-radius: 10px;
  }
  .container__backgroundFooter {
    width: 100%;
  }
  .container__backgroundFooter img {
    width: 280px;
  }
}
/*# sourceMappingURL=styles.css.map */